* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

/**
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
*/

.hero {
    color: "#000";
    height: 15vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .container {
    max-width: 800px;
    margin: auto;
}

.projects .container, .contact .container {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item {
    background: #f4f4f4;
    border: 3px solid #2b00ff;
    margin: 15px;
    padding: 5px;
    width: calc(33.333% - 40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: background 0.3s, box-shadow 0.3s;
}

.project-item:hover {
    background: #94d7d4;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

footer {
    color: #000000;
    text-align: center;
    padding: 10px 0;
}

